<!-- views/partials/head.ejs -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NewEngland Secure - Secure Asset Recovery and Monitoring</title>

    <!-- GLOBAL STYLES - Include these on every page. -->
    <link href="assets2/css/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets2/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- PAGE LEVEL PLUGIN STYLES -->
    <link href="assets2/css/plugins/messenger/messenger.css" rel="stylesheet">
    <link href="assets2/css/plugins/messenger/messenger-theme-flat.css" rel="stylesheet">
    <link href="assets2/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <link href="assets2/css/plugins/morris/morris.css" rel="stylesheet">
    <link href="assets2/css/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="assets2/css/plugins/datatables/datatables.css" rel="stylesheet">

    <!-- THEME STYLES - Include these on every page. -->
    <link href="assets2/css/style.css" rel="stylesheet">
    <link href="assets2/css/plugins.css" rel="stylesheet">

    <!-- THEME DEMO STYLES - Use these styles for reference if needed. Otherwise they can be deleted. -->
    <link href="assets2/css/demo.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">


    <!--[if lt IE 9]>
      <script src="assets2/js/html5shiv.js"></script>
      <script src="assets2/js/respond.min.js"></script>
    <![endif]-->
