<!doctype html>
<!-- views/pages/index.ejs -->

<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
        <% include ../partials/header %>
        <% include ../partials/sidebar %>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </header>
	

        




        <!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper">

            <div class="page-content">

                <!-- begin PAGE TITLE AREA -->
                <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1><%= pagetitle %>
                                <small>Content Overview</small>
                            </h1>
                            <ol class="breadcrumb">
                                <li class="active"><i class="fa fa-dashboard"></i> <%= pagetitle %></li>
                                <li class="pull-right">
                                    <div id="reportrange" class="btn btn-green btn-square date-picker">
                                        <i class="fa fa-calendar"></i>
                                        <span class="date-range"></span> <i class="fa fa-caret-down"></i>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE AREA -->
                    Auth Token: 
                  <div class="panel-body" class="bg-warning">
                    <pre class="prettyprint"><%= token %></pre>
                  </div>
                

<pre class="prettyprint">
/routes/pages_public.js
        GET /api
        GET /
        GET /login
        GET /logout
        GET /register

/routes/api_public.js
        POST /api/v1/register

/routes/api_auth.js
        POST /api/v1/authenticate
                function()-force authenticate
[AUTH]  GET  /api/v1/users

/routes/pages_private.js
[AUTH]  GET /dashboard
[AUTH]  GET /log_ip
[AUTH]  GET /devices
[AUTH]  GET /map
[AUTH]  GET /settings
[AUTH]  GET /contacts
[AUTH]  GET /about


/routes/api_private.js
[AUTH]  GET /api/v1/log/track/post?token=[token]&user=[user]&
[AUTH]  GET /api/v1/log/track/get/
[AUTH]  GET /api/v1/log/track/get/:username
[AUTH]  GET /api/v1/log/track/delete/:_id

[AUTH]  GET /api/v1/backup/script/get
[AUTH]  GET /api/v1/backup/checkin


SYSTEM CODE: QRZ                                // SAMPLE CODE ONLY - REMOVE FROM DEPLOYMENT BRANCH
SYSTEM CODE: DEBUG QRZ          // FOR NON-PRODUCTION - REMOVE FROM DEPLOYMENT BRANCH



app.use(require('./routes/pages_public'))
app.use(require('./routes/api_public'))
app.use(require('./routes/api_auth'))
app.use(require('./routes/pages_private'))
app.use(require('./routes/api_private'))


</pre>


            </div>
            <!-- /.page-content -->

        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->

    



        



    <footer>
        <% include ../partials/footer %>
    </footer>


	<script>
		$(document).ready(function() {
			App.init();
			MapGoogle.init();
		});
	</script>

</body>
</html>

