<!doctype html>
<!-- views/pages/map.ejs -->

<html lang="en">
<head>
	<% include ../partials/head %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

	<script>
	$(document).ready(function(){
		  $('#example').DataTable();

			$.get("https://localhost/api/log_ip/get/	",function(data){
					//var table = $('#example').children();
						for (var in data) {
								$('#example').append("<tr><td>" + data[p].time + "</td><td>" + data[p].date + "</td><td>" + data[p].ip + "</td><td>" +  "</td><td>" + data[p].host + "</td><td>" + data[p].owner + "</td></tr>");
						};
				});
		});
	</script>
</head>
<body>

    	<% include ../partials/header %>
        <% include ../partials/sidebar %>


        <!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper">

            <div class="page-content">

                <!-- begin PAGE TITLE ROW -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1><%= pagetitle %>
                                <small><%= username %></small>
                            </h1>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-dashboard"></i>  <a href="/"><%= username %></a>
                                </li>
                                <li class="active"><%= username %></li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->

                <!-- begin BASIC TABLES MAIN ROW -->
                <div class="row">

                    <!-- Basic Responsive Table -->
                    <div class="col-lg-12">
                        <div class="portlet portlet-default">
                            <div class="portlet-heading">

                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">


																			<table id="example" class="display" cellspacing="0" width="100%">
																	        <thead>
																	            <tr>
																	                <th>time</th>
																	                <th>date</th>
																	                <th>ip</th>
																	                <th>host</th>
																	                <th>Start date</th>
																	                <th>owner</th>
																	            </tr>
																	        </thead>

																	        <tfoot>
																	            <tr>
																	                <th>time</th>
																	                <th>date</th>
																	                <th>ip</th>
																	                <th>host</th>
																	                <th>Start date</th>
																	                <th>owner</th>
																	            </tr>
																	        </tfoot>
																				</table>








                                </div>
                            </div>
                        </div>
                        <!-- /.portlet -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->



                <!-- end BASIC TABLES MAIN ROW -->

            </div>
            <!-- /.page-content -->

        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->






    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
