<!doctype html>
<!-- views/pages/index.ejs -->

<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
        <% include ../partials/header %>
        <% include ../partials/sidebar %>
    </header>







        <!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper">

            <div class="page-content">

                <!-- begin PAGE TITLE AREA -->
                <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1><%= pagetitle %>
                                <small>Content Overview</small>
                            </h1>
                            <ol class="breadcrumb">
                                <li class="active"><i class="fa fa-dashboard"></i> <%= pagetitle %></li>
                                <li class="pull-right">
                                    <div id="reportrange" class="btn btn-green btn-square date-picker">
                                        <i class="fa fa-calendar"></i>
                                        <span class="date-range"></span> <i class="fa fa-caret-down"></i>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE AREA -->



										<label-default>Map of a device</label-default>
										<div id="googleMap" style="width:800px; height:500px;"></div>

										<script src="https://maps.googleapis.com/maps/api/js"></script>


								    <script>
								    function mymap() {
								      var mapProp = {
								        center:new google.maps.LatLng(51.508742,-0.120850),
								        zoom:5,
								        mapTypeId:google.maps.MapTypeId.ROADMAP
								      };

											var myLatLng = new google.maps.LatLng(51.508742,-0.120850);

											//Marker not working or showing idk :/
								      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

											var marker = {
											position: new google.maps.Marker(myLatLng),
											map: map,
											title: 'Please show yourself!',
											visible: true
											};
											marker.setMap(map);
								    }
								    google.maps.event.addDomListener(window, 'load', mymap);
								    </script>





            </div>
            <!-- /.page-content -->

        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->









    <footer>
        <% include ../partials/footer %>
    </footer>


	<!-- fill in  -->
	<!--script>
		$(document).ready(function() {
			//App.init();
			//MapGoogle.init();
			var map = new google.maps.map(document.getElementById("googleMap"), mapProp);
			google.maps.event.addDomListener(window, 'load', initialize);
	});
</script-->

</body>
</html>
