<!-- views/partials/footer.ejs -->

	</div>
    <!-- /#wrapper -->


    <!-- GLOBAL SCRIPTS -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="assets2/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets2/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets2/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="assets2/js/plugins/popupoverlay/defaults.js"></script>
    <!-- Logout Notification Box -->
    <div id="logout">
        <div class="logout-message">
            <img class="img-circle img-logout" src="img/profile-pic.jpg" alt="">
            <h3>
                <i class="fa fa-sign-out text-green"></i> Ready to go?
            </h3>
            <p>Select "Logout" below if you are ready<br> to end your current session.</p>
            <ul class="list-inline">
                <li>
                    <a href="/logout" class="btn btn-green">
                        <strong>Logout</strong>
                    </a>
                </li>
                <li>
                    <button class="logout_close btn btn-green">Cancel</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- /#logout -->
    <!-- Logout Notification jQuery -->
    <script src="assets2/js/plugins/popupoverlay/logout.js"></script>
    <!-- HISRC Retina Images -->
    <script src="assets2/js/plugins/hisrc/hisrc.js"></script>

    <!-- PAGE LEVEL PLUGIN SCRIPTS -->
    <!-- HubSpot Messenger -->
    <script src="assets2/js/plugins/messenger/messenger.min.js"></script>
    <script src="assets2/js/plugins/messenger/messenger-theme-flat.js"></script>
    <!-- Date Range Picker -->
    <script src="assets2/js/plugins/daterangepicker/moment.js"></script>
    <script src="assets2/js/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Morris Charts -->
    <script src="assets2/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="assets2/js/plugins/morris/morris.js"></script>
    <!-- Flot Charts -->
    <script src="assets2/js/plugins/flot/jquery.flot.js"></script>
    <script src="assets2/js/plugins/flot/jquery.flot.resize.js"></script>
    <!-- Sparkline Charts -->
    <script src="assets2/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- Moment.js -->
    <script src="assets2/js/plugins/moment/moment.min.js"></script>
    <!-- jQuery Vector Map -->
    <script src="assets2/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="assets2/js/plugins/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets2/js/demo/map-demo-data.js"></script>
    <!-- Easy Pie Chart -->
    <script src="assets2/js/plugins/easypiechart/jquery.easypiechart.min.js"></script>
    <!-- DataTables -->
    <script src="assets2/js/plugins/datatables/jquery.dataTables.js"></script>
    <script src="assets2/js/plugins/datatables/datatables-bs3.js"></script>

    <!-- THEME SCRIPTS -->
    <script src="assets2/js/flex.js"></script>
    <script src="assets2/js/demo/dashboard-demo.js"></script>

</body>
